div.row
	legend Manage Requests
	.btn-toolbar
		form.form-search.form-horizontal
			button.btn bla?
			.input-append.pull-right
				input.search-query(type="text", placeholder="Search Users")
				button.btn(type="submit")
					i.icon-search
	.well.d
		-if(!req[0])
			| No Requests
		-else
			.tabbable
				ul.nav.nav-tabs
					li.active
						a(href="#tab1", data-toggle="tab") Overview
					li
						a(href="#tab2", data-toggle="tab") Bugs
					li
						a(href="#tab3", data-toggle="tab") Albs	
				.tab-content
					#tab1.tab-pane.active
						table.table
							thead
								tr
									th #
									th Typ
									th Betreff
									th Absender
									th(style="width: 36px")
							tbody
								-for(var i = 0; i < req.length; i++)
									tr 
										td #{req[i].time} 
										td #{req[i].type} 
										td #{req[i].headline} 
										td #{req[i].from}
					#tab2.tab-pane
						table.table
							thead
								tr
									th #
									th Typ
									th Betreff
									th Absender
									th(style="width: 36px")
							tbody
								-for(var i = 0; i < req.length; i++)
									-if(req[i].type != "payed")
										tr 
											td #{req[i].time}
											td #{req[i].type}
											td #{req[i].headline}
											td #{req[i].from}
											td
												form(method="get", action="#openReq/#{req[i]._id}")
													button.btn answere
					#tab3.tab-pane
						table.table
							thead
								tr
									th #
									th Typ
									th Absender
									th(style="width: 36px")
									th(style="width: 36px")
									th(style="width: 36px")
							tbody
								-for(var i = 0; i < req.length; i++)
									-if(req[i].type == "payed")
										
										tr 
											td #{req[i].time} 
											td #{req[i].type}  
											td #{req[i].from}
											td
												form(method="get", action="#downloadAlb/#{req[i].from}/#{req[i].albumID}")
													button.btn Download
											td
												form(method="get", action="#getJSON/#{req[i].from}/#{req[i].albumID}")
													button.btn View
											td
												input.hidden(value="#{req[i].albumID}")
												a.btn.btn-primary.declineModal Decline
												form(method="get", action="#approveAlb/#{req[i].from}/#{req[i].albumID}")
													button.btn Approve
	.pagination.pagination-centered
		ul
			li
				a(href="#") &laquo;
			li.active
				a(href="#") 1
			li	
				a(href="#") 2
			li	
				a(href="#") &raquo;