row
	legend.ruri Dashboard
.row
	.span5
		.well.d.box
			legend Uploaded
			-if(albs != 0)
					table.table
						thead
							tr.w
								th
									| Release
								th
									| Status
						tbody
							- for(key in albs)
								tr.album(name="album_#{key}")
									-if(albs[key].albumInfo)
										td #{albs[key].albumInfo.title}
									-else
										td Untitled
									-if(isNaN(albs[key].state))
										-if(albs[key].state == "available")
											td(style="color: green") Veröffentlicht
										-else if(albs[key].state == "payed")
											td(style="color: yellow") Wird Überprüft
										-else if(albs[key].state == "declined")
											td(style="color: red") Album Abgelehnt
									-else if(albs[key].state == 3)
										td(style="color: orange") Warte auf Zahlung
									-else
										-if(albs[key].state == 2)
											td(style="color: orange", data-original-title="Songs müssen noch Hochgeladen Werden") 
												| Unvollständig 
												i.icon-info.icon-large.pull-right
										-else if(albs[key].state == 1)
											td(style="color: orange", data-original-title="Album Info muss noch eingegeben werden") 
												| Unvollständig 
												i.icon-info.icon-large.pull-right
										-else
											td(style="color: orange", data-original-title="Album Cover muss noch Hochgeladen werden")
												| Unvollständig 
												i.icon-info.icon-large.pull-right
										
			-else
				| Du hast bisher noch nichts hochgeladen.
				br
				br
				a.btn.btn-primary.siteChanger(href="/upload") Hochladen
	.span4
		.well.d.box
			legend Dein Kontostand
			h3 #{dash.balance} Euro
			a.btn.btn-primary(href="#payoutModal", data-toggle="modal") Auszahlen
			

.row
	.span9
		.well.d.box
			legend News
			-for(var i = 0; i < news.length; i++)
				div
					.pull-right
						i #{news[i].time}
					b.news
						i.icon-white.icon-globe 
						|  #{news[i].headline}
					.news-article
						pre
							p #{news[i].text}